  .set {
    height:100vh;
    width:100%;
    display: flex;
    justify-content: center;
    position:relative;
    border:1px solid #160801;
    border-radius:1em;
    background:linear-gradient(to bottom right,rgba(0,0,0,0.3),rgba(0,0,0,0)),url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/187/vwood.png);
    box-shadow:0 0 50px rgba(0,0,0,0.5) inset,0 1px rgba(212,152,125,0.2) inset,0 5px 15px rgba(0,0,0,0.5);
    z-index: -1;

    
    --piano-whites1: rgb(41, 41, 41); /* var(--piano-whites1) */
    --piano-whites2: rgb(54, 54, 54); /* var(--piano-whites2) */
    --piano-whites-border: rgb(15, 15, 15); /* var(--piano-whites-border) */
    --piano-whites-bshadow1: rgba(0, 0, 0, 0.034); /* var(--piano-whites-bshadow1) */
    --piano-whites-bshadow2: rgba(0, 0, 0, 0.397); /* var(--piano-whites-bshadow2) */ 
    --piano-whites-active: rgb(27, 27, 27); /* var(--piano-whites-active) */
    --piano-whites-active-border1: rgba(0, 0, 0, 0.548); /* var(--piano-whites-active-border1) */
    --piano-whites-active-bshadow1: rgba(0, 0, 0, 0.356); /* var(--piano-whites-active-bshadow1) */
    --piano-whites-active-bshadow2: rgba(0, 0, 0, 0.301); /* var(--piano-whites-active-bshadow1) */

    --piano-blacks-border: rgb(230, 34, 34); /* var(--piano-blacks-border) */
    --piano-blacks-shadow1: rgba(63, 11, 11, 0.678); /* var(--piano-blacks-shadow1) */
    --piano-blacks-shadow2: rgba(0,0,0,0.6); /* var(--piano-blacks-shadow2) */
    --piano-blacks-shadow3: rgba(0,0,0,0.5); /* var(--piano-blacks-shadow3) */
    --piano-blacks1: rgb(77, 23, 23); /* var(--piano-blacks1) */
    --piano-blacks2: rgb(218, 60, 60); /* var(--piano-blacks2) */
    --piano-blacks1-active: rgb(177, 18, 18); /* var(--piano-blacks1-active) */

  }
  
  .set > * {
    padding:0;
    list-style:none;
    position:relative;
    float:left
  }
  
  ul .white {
    height:60em;
    width:8em;
    z-index:-1;
    border-left:1px solid var(--piano-whites-border);
    border-bottom:1px solid var(--piano-whites-border);
    border-radius:0 0 5px 5px;
    box-shadow:-1px 0 0 var(--piano-whites-bshadow1) inset,0 0 5px var(--piano-whites-bshadow2) inset,0 0 3px var(--piano-whites-bshadow2);
    background:linear-gradient(to bottom,var(--piano-whites2) 0%,var(--piano-whites1) 100%)
  }
  
  ul .white:active {
    border-top:1px solid var(--piano-whites-active-border1);
    box-shadow:2px 0 3px var(--piano-whites-active-bshadow1) inset,-5px 1px 20px var(--piano-whites-active-bshadow2) inset,0 0 3px var(--piano-whites-active-bshadow2);
    background:linear-gradient(to bottom,var(--piano-whites1) 0%,var(--piano-whites-active) 100%)
  }
  
  .black {
    height:36em;
    width:4em;
    margin:0 0 0 -2rem;
    z-index:0;
    border:1px solid #000;
    border-radius:0 0 3px 3px;
    box-shadow:-2px -2px 4px var(--piano-blacks-shadow1) inset,0 -10px 3px 4px var(--piano-blacks-shadow2) inset,0 3px 5px var(--piano-blacks-shadow3);
    background:linear-gradient(45deg,var(--piano-blacks1) 0%,var(--piano-blacks2) 100%)
  }
  
  .black:active {
    box-shadow:-2px -2px 4px var(--piano-blacks-shadow1) inset,0 -3px 3px 4px var(--piano-blacks-shadow2) inset,0 1px 2px var(--piano-blacks-shadow3);
    background:linear-gradient(95deg,var(--piano-blacks1-active) 0%,var(--piano-blacks1) 100%)
  }
  
  .a,.g,.f,.d,.c {
    margin:0 0 0 -2rem
  }
  
  .set li:first-child {
    border-radius:5px 0 5px 5px
  }
  
  .set li:last-child {
    border-radius:0 5px 5px 5px
  }

@media screen and (max-width: 1320px) {
    .set .hh {
        display: none;
    }
}

@media screen and (max-width: 960px) {
    .set .h {
        display: none;
    }
}

@media screen and (max-width: 768px) {
  .set .l {
      display: none;
  }
  ul .white {
    width: 16em;
  }
  ul .black {
    width: 8em;
    margin:0 0 0 -4rem;
  }
  .a,.g,.f,.d,.c {
    margin:0 0 0 -4rem;
  }
}

@media (max-width: 600px) {
  .set {
    font-size: initial;
  }
}